{
    "openapi":  "3.0.1",
    "info":  {
                 "title":  "质检平台 API 文档（合并）",
                 "description":  "由 user/admin/base/trade 四个服务合并生成",
                 "version":  "1.0.0"
             },
    "servers":  [
                    {
                        "url":  "https://qip.hauchet.cn",
                        "description":  "线上测试环境"
                    }
                ],
    "tags":  [
                 {
                     "name":  "[user] 微信认证",
                     "description":  "微信小程序登录、手机号绑定、PC扫码登录、绑定微信"
                 },
                 {
                     "name":  "[user] 企业工作台",
                     "description":  "机构后台工作台（需登录且账号绑定企业）"
                 },
                 {
                     "name":  "[user] 开票资料",
                     "description":  "发票抬头 CRUD / 默认开票资料管理"
                 },
                 {
                     "name":  "[user] 用户-统计聚合",
                     "description":  "工作台看板数据源（用户/企业）"
                 },
                 {
                     "name":  "[user] 认证",
                     "description":  "登录、注册、短信验证码"
                 },
                 {
                     "name":  "[user] 企业",
                     "description":  "企业注册、信息管理、机构列表、证书管理、营业执照OCR"
                 },
                 {
                     "name":  "[user] 文件上传",
                     "description":  "通用文件上传（营业执照、身份证、资质文件等）"
                 },
                 {
                     "name":  "[user] 寄样地址",
                     "description":  "需求方寄样地址 CRUD / 默认地址管理"
                 },
                 {
                     "name":  "[user] 用户",
                     "description":  "用户信息管理"
                 },
                 {
                     "name":  "[user] 角色权限管理",
                     "description":  "§5.5.8 动态角色定义与用户角色分配（运营方）"
                 },
                 {
                     "name":  "[user] 账号安全",
                     "description":  "修改密码、更换手机号、绑定邮箱"
                 },
                 {
                     "name":  "[user] 积分体系",
                     "description":  "用户积分查询与管理"
                 },
                 {
                     "name":  "[admin] 字典数据维护",
                     "description":  "§5.5.7 检测类别/标准分类/地区/服务类型等基础数据维护（运营方）"
                 },
                 {
                     "name":  "[admin] 管理-企业审核",
                     "description":  "企业入驻审核（通过/驳回）"
                 },
                 {
                     "name":  "[admin] 管理-用户",
                     "description":  "用户账号管理（禁用/启用）"
                 },
                 {
                     "name":  "[admin] 管理-内容审核",
                     "description":  "§5.5.6 运营方审核资讯/问答内容"
                 },
                 {
                     "name":  "[admin] 管理-数据统计",
                     "description":  "平台运营数据概览 + 工作台看板"
                 },
                 {
                     "name":  "[admin] 管理-报告管理",
                     "description":  "§5.5.4 运营方报告查看/作废/抽查"
                 },
                 {
                     "name":  "[admin] 管理-需求/订单监管",
                     "description":  "§5.5.3 运营方监管所有需求与订单"
                 },
                 {
                     "name":  "[admin] 管理-系统设置",
                     "description":  "§5.5.8 操作日志查询"
                 },
                 {
                     "name":  "[admin] 管理-评价管理",
                     "description":  "§5.5.5 运营方查看/删除违规评价"
                 },
                 {
                     "name":  "[base] 质量标准",
                     "description":  "国标/行标/地标查询与管理"
                 },
                 {
                     "name":  "[base] 质量培训",
                     "description":  "培训课程列表、报名管理"
                 },
                 {
                     "name":  "[base] 计量服务",
                     "description":  "计量校准机构名录查询"
                 },
                 {
                     "name":  "[base] 检测机构",
                     "description":  "机构列表与详情"
                 },
                 {
                     "name":  "[base] 标准订阅",
                     "description":  "§2.2 订阅标准到期提醒"
                 },
                 {
                     "name":  "[base] 计量器具目录",
                     "description":  "计量器具与检定规程查询"
                 },
                 {
                     "name":  "[base] 检测项目申请",
                     "description":  "§5.2.1 机构申请自定义检测项目，运营方审核入库"
                 },
                 {
                     "name":  "[base] 知识库",
                     "description":  "质量知识文章/视频/课件"
                 },
                 {
                     "name":  "[base] 政策法规",
                     "description":  "政策文件查询与管理"
                 },
                 {
                     "name":  "[base] 质量诊断",
                     "description":  "诊断机构名录 + 诊断案例库"
                 },
                 {
                     "name":  "[base] 机构服务项目",
                     "description":  "§5.2.1 机构服务 SKU 上下架、列表、详情"
                 },
                 {
                     "name":  "[base] 服务需求对接",
                     "description":  "质量基础服务各模块的用户咨询需求提交与运营方回复"
                 },
                 {
                     "name":  "[base] 诊断自评工具",
                     "description":  "§5.1.2 质量诊断在线自评工具库"
                 },
                 {
                     "name":  "[base] 检测项目库",
                     "description":  "平台维护的检测项目库"
                 },
                 {
                     "name":  "[base] 资讯聚合",
                     "description":  "首页质量社区资讯聚合接口"
                 },
                 {
                     "name":  "[base] 认证认可",
                     "description":  "认证机构名录 + 认证流程指南"
                 },
                 {
                     "name":  "[trade] 检测报告",
                     "description":  "报告上传与查看"
                 },
                 {
                     "name":  "[trade] 订单",
                     "description":  "订单确认、管理、评价"
                 },
                 {
                     "name":  "[trade] 订单进度",
                     "description":  "订单检测进度节点管理"
                 },
                 {
                     "name":  "[trade] 退款申请",
                     "description":  "§5.2.9 退款申请提交与处理"
                 },
                 {
                     "name":  "[trade] 直接下单",
                     "description":  "计量校准/认证认可/标准编写 — 选定机构后直接生成订单"
                 },
                 {
                     "name":  "[trade] 交易-统计聚合",
                     "description":  "工作台看板的数据源（订单/需求/报价/报告/评价）"
                 },
                 {
                     "name":  "[trade] 自动报价",
                     "description":  "§5.2.2 基于检测项目库预设价格自动生成报价明细"
                 },
                 {
                     "name":  "[trade] 发票申请",
                     "description":  "在线发票申请与处理"
                 },
                 {
                     "name":  "[trade] 检测需求",
                     "description":  "需求发布、大厅、接单报价"
                 },
                 {
                     "name":  "[trade] 报价明细",
                     "description":  "报价费用明细管理"
                 },
                 {
                     "name":  "[community] 专家预约",
                     "description":  "§5.3.4 专家在线预约咨询（一期：表单意向收集；二期：私信IM）"
                 },
                 {
                     "name":  "[community] 行业专家",
                     "description":  "专家列表与详情"
                 },
                 {
                     "name":  "[community] 我的收藏",
                     "description":  "§5.4.1 收藏文章/问题/机构/专家"
                 },
                 {
                     "name":  "[community] 点赞",
                     "description":  "§5.3.3 资讯/问答/答案点赞"
                 },
                 {
                     "name":  "[community] 行业资讯",
                     "description":  "文章资讯管理"
                 },
                 {
                     "name":  "[community] 关注问题",
                     "description":  "§5.3.3 关注问题，问题更新时收到通知"
                 },
                 {
                     "name":  "[community] 评论",
                     "description":  "资讯/问答/答案的评论管理"
                 },
                 {
                     "name":  "[community] 社区-统计聚合",
                     "description":  "工作台看板数据源（文章/问答/咨询）"
                 },
                 {
                     "name":  "[community] 社区问答",
                     "description":  "问答发布与回复"
                 }
             ],
    "paths":  {
                  "/api/user/user/{userId}/status":  {
                                                         "put":  {
                                                                     "tags":  [
                                                                                  "[user] 用户"
                                                                              ],
                                                                     "summary":  "更新用户状态（管理员内部接口）",
                                                                     "description":  "运营方更新用户状态（禁用/启用用户）",
                                                                     "operationId":  "updateStatus",
                                                                     "parameters":  [
                                                                                        {
                                                                                            "name":  "userId",
                                                                                            "in":  "path",
                                                                                            "description":  "用户 ID",
                                                                                            "required":  true,
                                                                                            "schema":  {
                                                                                                           "type":  "integer",
                                                                                                           "format":  "int64"
                                                                                                       }
                                                                                        },
                                                                                        {
                                                                                            "name":  "status",
                                                                                            "in":  "query",
                                                                                            "description":  "目标状态：0=启用, 1=禁用",
                                                                                            "required":  true,
                                                                                            "schema":  {
                                                                                                           "type":  "integer",
                                                                                                           "format":  "int32"
                                                                                                       }
                                                                                        }
                                                                                    ],
                                                                     "responses":  {
                                                                                       "200":  {
                                                                                                   "description":  "OK",
                                                                                                   "content":  {
                                                                                                                   "*/*":  {
                                                                                                                               "schema":  {
                                                                                                                                              "$ref":  "#/components/schemas/user_ResultVoid"
                                                                                                                                          }
                                                                                                                           }
                                                                                                               }
                                                                                               }
                                                                                   },
                                                                     "security":  [
                                                                                      {
                                                                                          "BearerAuth":  [

                                                                                                         ]
                                                                                      }
                                                                                  ]
                                                                 }
                                                     },
                  "/api/user/user/{userId}/real-name/audit":  {
                                                                  "put":  {
                                                                              "tags":  [
                                                                                           "[user] 用户"
                                                                                       ],
                                                                              "summary":  "审核实名认证（运营方）",
                                                                              "description":  "运营方审核用户实名认证申请",
                                                                              "operationId":  "auditRealName",
                                                                              "parameters":  [
                                                                                                 {
                                                                                                     "name":  "userId",
                                                                                                     "in":  "path",
                                                                                                     "description":  "用户 ID",
                                                                                                     "required":  true,
                                                                                                     "schema":  {
                                                                                                                    "type":  "integer",
                                                                                                                    "format":  "int64"
                                                                                                                }
                                                                                                 },
                                                                                                 {
                                                                                                     "name":  "passed",
                                                                                                     "in":  "query",
                                                                                                     "description":  "审核结果：true=通过，false=驳回",
                                                                                                     "required":  true,
                                                                                                     "schema":  {
                                                                                                                    "type":  "boolean"
                                                                                                                }
                                                                                                 },
                                                                                                 {
                                                                                                     "name":  "rejectReason",
                                                                                                     "in":  "query",
                                                                                                     "description":  "驳回原因（可选，驳回时建议填写）",
                                                                                                     "required":  false,
                                                                                                     "schema":  {
                                                                                                                    "type":  "string"
                                                                                                                }
                                                                                                 }
                                                                                             ],
                                                                              "responses":  {
                                                                                                "200":  {
                                                                                                            "description":  "OK",
                                                                                                            "content":  {
                                                                                                                            "*/*":  {
                                                                                                                                        "schema":  {
                                                                                                                                                       "$ref":  "#/components/schemas/user_ResultVoid"
                                                                                                                                                   }
                                                                                                                                    }
                                                                                                                        }
                                                                                                        }
                                                                                            },
                                                                              "security":  [
                                                                                               {
                                                                                                   "BearerAuth":  [

                                                                                                                  ]
                                                                                               }
                                                                                           ]
                                                                          }
                                                              },
                  "/api/user/user/{userId}/member-level":  {
                                                               "put":  {
                                                                           "tags":  [
                                                                                        "[user] 用户"
                                                                                    ],
                                                                           "summary":  "更新会员等级（服务间内部接口，传 X-Internal-Secret）",
                                                                           "description":  "更新用户会员等级（服务间内部调用，传 X-Internal-Secret 验证）",
                                                                           "operationId":  "updateMemberLevel",
                                                                           "parameters":  [
                                                                                              {
                                                                                                  "name":  "userId",
                                                                                                  "in":  "path",
                                                                                                  "description":  "用户 ID",
                                                                                                  "required":  true,
                                                                                                  "schema":  {
                                                                                                                 "type":  "integer",
                                                                                                                 "format":  "int64"
                                                                                                             }
                                                                                              },
                                                                                              {
                                                                                                  "name":  "memberLevel",
                                                                                                  "in":  "query",
                                                                                                  "description":  "会员等级数值（范围 0~10）",
                                                                                                  "required":  true,
                                                                                                  "schema":  {
                                                                                                                 "type":  "integer",
                                                                                                                 "format":  "int32"
                                                                                                             }
                                                                                              },
                                                                                              {
                                                                                                  "name":  "X-Internal-Secret",
                                                                                                  "in":  "header",
                                                                                                  "description":  "内部调用密钥（X-Internal-Secret Header）",
                                                                                                  "required":  false,
                                                                                                  "schema":  {
                                                                                                                 "type":  "string"
                                                                                                             }
                                                                                              }
                                                                                          ],
                                                                           "responses":  {
                                                                                             "200":  {
                                                                                                         "description":  "OK",
                                                                                                         "content":  {
                                                                                                                         "*/*":  {
                                                                                                                                     "schema":  {
                                                                                                                                                    "$ref":  "#/components/schemas/user_ResultVoid"
                                                                                                                                                }
                                                                                                                                 }
                                                                                                                     }
                                                                                                     }
                                                                                         }
                                                                       }
                                                           },
                  "/api/user/user/nickname":  {
                                                  "put":  {
                                                              "tags":  [
                                                                           "[user] 用户"
                                                                       ],
                                                              "summary":  "修改昵称",
                                                              "description":  "修改当前登录用户的昵称",
                                                              "operationId":  "updateNickname",
                                                              "parameters":  [
                                                                                 {
                                                                                     "name":  "nickname",
                                                                                     "in":  "query",
                                                                                     "description":  "新的昵称，建议在 2~20 个字符之间",
                                                                                     "required":  true,
                                                                                     "schema":  {
                                                                                                    "type":  "string"
                                                                                                }
                                                                                 }
                                                                             ],
                                                              "responses":  {
                                                                                "200":  {
                                                                                            "description":  "OK",
                                                                                            "content":  {
                                                                                                            "*/*":  {
                                                                                                                        "schema":  {
                                                                                                                                       "$ref":  "#/components/schemas/user_ResultVoid"
                                                                                                                                   }
                                                                                                                    }
                                                                                                        }
                                                                                        }
                                                                            },
                                                              "security":  [
                                                                               {
                                                                                   "BearerAuth":  [

                                                                                                  ]
                                                                               }
                                                                           ]
                                                          }
                                              },
                  "/api/user/user/avatar":  {
                                                "put":  {
                                                            "tags":  [
                                                                         "[user] 用户"
                                                                     ],
                                                            "summary":  "修改头像",
                                                            "description":  "修改当前登录用户的头像 URL",
                                                            "operationId":  "updateAvatar",
                                                            "parameters":  [
                                                                               {
                                                                                   "name":  "avatarUrl",
                                                                                   "in":  "query",
                                                                                   "description":  "头像图片的 URL（先使用文件上传接口拿到 URL）",
                                                                                   "required":  true,
                                                                                   "schema":  {
                                                                                                  "type":  "string"
                                                                                              }
                                                                               }
                                                                           ],
                                                            "responses":  {
                                                                              "200":  {
                                                                                          "description":  "OK",
                                                                                          "content":  {
                                                                                                          "*/*":  {
                                                                                                                      "schema":  {
                                                                                                                                     "$ref":  "#/components/schemas/user_ResultVoid"
                                                                                                                                 }
                                                                                                                  }
                                                                                                      }
                                                                                      }
                                                                          },
                                                            "security":  [
                                                                             {
                                                                                 "BearerAuth":  [

                                                                                                ]
                                                                             }
                                                                         ]
                                                        }
                                            },
                  "/api/user/shipping-address/{id}":  {
                                                          "get":  {
                                                                      "tags":  [
                                                                                   "[user] 寄样地址"
                                                                               ],
                                                                      "summary":  "地址详情",
                                                                      "description":  "仅归属人可查；trade-service Feign 调用时会自动转发登录 token 完成归属校验。",
                                                                      "operationId":  "detail",
                                                                      "parameters":  [
                                                                                         {
                                                                                             "name":  "id",
                                                                                             "in":  "path",
                                                                                             "required":  true,
                                                                                             "schema":  {
                                                                                                            "type":  "integer",
                                                                                                            "format":  "int64"
                                                                                                        }
                                                                                         }
                                                                                     ],
                                                                      "responses":  {
                                                                                        "200":  {
                                                                                                    "description":  "OK",
                                                                                                    "content":  {
                                                                                                                    "*/*":  {
                                                                                                                                "schema":  {
                                                                                                                                               "$ref":  "#/components/schemas/user_ResultEnterpriseShippingAddress"
                                                                                                                                           }
                                                                                                                            }
                                                                                                                }
                                                                                                }
                                                                                    },
                                                                      "security":  [
                                                                                       {
                                                                                           "BearerAuth":  [

                                                                                                          ]
                                                                                       }
                                                                                   ]
                                                                  },
                                                          "put":  {
                                                                      "tags":  [
                                                                                   "[user] 寄样地址"
                                                                               ],
                                                                      "summary":  "修改地址",
                                                                      "operationId":  "update",
                                                                      "parameters":  [
                                                                                         {
                                                                                             "name":  "id",
                                                                                             "in":  "path",
                                                                                             "required":  true,
                                                                                             "schema":  {
                                                                                                            "type":  "integer",
                                                                                                            "format":  "int64"
                                                                                                        }
                                                                                         }
                                                                                     ],
                                                                      "requestBody":  {
                                                                                          "content":  {
                                                                                                          "application/json":  {
                                                                                                                                   "schema":  {
                                                                                                                                                  "$ref":  "#/components/schemas/user_ShippingAddressReqDTO"
                                                                                                                                              }
                                                                                                                               }
                                                                                                      },
                                                                                          "required":  true
                                                                                      },
                                                                      "responses":  {
                                                                                        "200":  {
                                                                                                    "description":  "OK",
                                                                                                    "content":  {
                                                                                                                    "*/*":  {
                                                                                                                                "schema":  {
                                                                                                                                               "$ref":  "#/components/schemas/user_ResultVoid"
                                                                                                                                           }
                                                                                                                            }
                                                                                                                }
                                                                                                }
                                                                                    },
                                                                      "security":  [
                                                                                       {
                                                                                           "BearerAuth":  [

                                                                                                          ]
                                                                                       }
                                                                                   ]
                                                                  },
                                                          "delete":  {
                                                                         "tags":  [
                                                                                      "[user] 寄样地址"
                                                                                  ],
                                                                         "summary":  "删除地址（软删除）",
                                                                         "operationId":  "delete",
                                                                         "parameters":  [
                                                                                            {
                                                                                                "name":  "id",
                                                                                                "in":  "path",
                                                                                                "required":  true,
                                                                                                "schema":  {
                                                                                                               "type":  "integer",
                                                                                                               "format":  "int64"
                                                                                                           }
                                                                                            }
                                                                                        ],
                                                                         "responses":  {
                                                                                           "200":  {
                                                                                                       "description":  "OK",
                                                                                                       "content":  {
                                                                                                                       "*/*":  {
                                                                                                                                   "schema":  {
                                                                                                                                                  "$ref":  "#/components/schemas/user_ResultVoid"
                                                                                                                                              }
                                                                                                                               }
                                                                                                                   }
                                                                                                   }
                                                                                       },
                                                                         "security":  [
                                                                                          {
                                                                                              "BearerAuth":  [

                                                                                                             ]
                                                                                          }
                                                                                      ]
                                                                     }
                                                      },
                  "/api/user/shipping-address/{id}/default":  {
                                                                  "put":  {
                                                                              "tags":  [
                                                                                           "[user] 寄样地址"
                                                                                       ],
                                                                              "summary":  "设为默认地址",
                                                                              "operationId":  "setDefault",
                                                                              "parameters":  [
                                                                                                 {
                                                                                                     "name":  "id",
                                                                                                     "in":  "path",
                                                                                                     "required":  true,
                                                                                                     "schema":  {
                                                                                                                    "type":  "integer",
                                                                                                                    "format":  "int64"
                                                                                                                }
                                                                                                 }
                                                                                             ],
                                                                              "responses":  {
                                                                                                "200":  {
                                                                                                            "description":  "OK",
                                                                                                            "content":  {
                                                                                                                            "*/*":  {
                                                                                                                                        "schema":  {
                                                                                                                                                       "$ref":  "#/components/schemas/user_ResultVoid"
                                                                                                                                                   }
                                                                                                                                    }
                                                                                                                        }
                                                                                                        }
                                                                                            },
                                                                              "security":  [
                                                                                               {
                                                                                                   "BearerAuth":  [

                                                                                                                  ]
                                                                                               }
                                                                                           ]
                                                                          }
                                                              },
                  "/api/user/role/{id}":  {
                                              "put":  {
                                                          "tags":  [
                                                                       "[user] 角色权限管理"
                                                                   ],
                                                          "summary":  "修改角色名称/描述/状态",
                                                          "description":  "修改角色名称/描述/状态（内置角色的 roleCode 不可修改）",
                                                          "operationId":  "update_1",
                                                          "parameters":  [
                                                                             {
                                                                                 "name":  "id",
                                                                                 "in":  "path",
                                                                                 "description":  "角色 ID",
                                                                                 "required":  true,
                                                                                 "schema":  {
                                                                                                "type":  "integer",
                                                                                                "format":  "int64"
                                                                                            }
                                                                             }
                                                                         ],
                                                          "requestBody":  {
                                                                              "description":  "角色更新内容",
                                                                              "content":  {
                                                                                              "application/json":  {
                                                                                                                       "schema":  {
                                                                                                                                      "$ref":  "#/components/schemas/user_SysRole"
                                                                                                                                  }
                                                                                                                   }
                                                                                          },
                                                                              "required":  true
                                                                          },
                                                          "responses":  {
                                                                            "200":  {
                                                                                        "description":  "OK",
                                                                                        "content":  {
                                                                                                        "*/*":  {
                                                                                                                    "schema":  {
                                                                                                                                   "$ref":  "#/components/schemas/user_ResultVoid"
                                                                                                                               }
                                                                                                                }
                                                                                                    }
                                                                                    }
                                                                        },
                                                          "security":  [
                                                                           {
                                                                               "BearerAuth":  [

                                                                                              ]
                                                                           }
                                                                       ]
                                                      },
                                              "delete":  {
                                                             "tags":  [
                                                                          "[user] 角色权限管理"
                                                                      ],
                                                             "summary":  "删除自定义角色（内置角色不可删）",
                                                             "description":  "删除自定义角色（内置角色不可删除）",
                                                             "operationId":  "delete_1",
                                                             "parameters":  [
                                                                                {
                                                                                    "name":  "id",
                                                                                    "in":  "path",
                                                                                    "description":  "角色 ID",
                                                                                    "required":  true,
                                                                                    "schema":  {
                                                                                                   "type":  "integer",
                                                                                                   "format":  "int64"
                                                                                               }
                                                                                }
                                                                            ],
                                                             "responses":  {
                                                                               "200":  {
                                                                                           "description":  "OK",
                                                                                           "content":  {
                                                                                                           "*/*":  {
                                                                                                                       "schema":  {
                                                                                                                                      "$ref":  "#/components/schemas/user_ResultVoid"
                                                                                                                                  }
                                                                                                                   }
                                                                                                       }
                                                                                       }
                                                                           },
                                                             "security":  [
                                                                              {
                                                                                  "BearerAuth":  [

                                                                                                 ]
                                                                              }
                                                                          ]
                                                         }
                                          },
                  "/api/user/role/user/{userId}":  {
                                                       "get":  {
                                                                   "tags":  [
                                                                                "[user] 角色权限管理"
                                                                            ],
                                                                   "summary":  "查询用户已分配的角色",
                                                                   "description":  "查询指定用户已分配的角色编码列表",
                                                                   "operationId":  "getUserRoles",
                                                                   "parameters":  [
                                                                                      {
                                                                                          "name":  "userId",
                                                                                          "in":  "path",
                                                                                          "description":  "用户 ID",
                                                                                          "required":  true,
                                                                                          "schema":  {
                                                                                                         "type":  "integer",
                                                                                                         "format":  "int64"
                                                                                                     }
                                                                                      }
                                                                                  ],
                                                                   "responses":  {
                                                                                     "200":  {
                                                                                                 "description":  "OK",
                                                                                                 "content":  {
                                                                                                                 "*/*":  {
                                                                                                                             "schema":  {
                                                                                                                                            "$ref":  "#/components/schemas/user_ResultListString"
                                                                                                                                        }
                                                                                                                         }
                                                                                                             }
                                                                                             }
                                                                                 },
                                                                   "security":  [
                                                                                    {
                                                                                        "BearerAuth":  [

                                                                                                       ]
                                                                                    }
                                                                                ]
                                                               },
                                                       "put":  {
                                                                   "tags":  [
                                                                                "[user] 角色权限管理"
                                                                            ],
                                                                   "summary":  "给用户分配角色（全量覆盖）",
                                                                   "description":  "全量覆盖式给用户分配角色（会先删除当前用户已有角色再批量新增）",
                                                                   "operationId":  "assignRoles",
                                                                   "parameters":  [
                                                                                      {
                                                                                          "name":  "userId",
                                                                                          "in":  "path",
                                                                                          "description":  "用户 ID",
                                                                                          "required":  true,
                                                                                          "schema":  {
                                                                                                         "type":  "integer",
                                                                                                         "format":  "int64"
                                                                                                     }
                                                                                      }
                                                                                  ],
                                                                   "requestBody":  {
                                                                                       "description":  "目标角色编码列表（如 [\\\"ENTERPRISE_DEMAND\\\", \\\"OPERATOR\\\"]）",
                                                                                       "content":  {
                                                                                                       "application/json":  {
                                                                                                                                "schema":  {
                                                                                                                                               "type":  "array",
                                                                                                                                               "items":  {
                                                                                                                                                             "type":  "string"
                                                                                                                                                         }
                                                                                                                                           }
                                                                                                                            }
                                                                                                   },
                                                                                       "required":  true
                                                                                   },
                                                                   "responses":  {
                                                                                     "200":  {
                                                                                                 "description":  "OK",
                                                                                                 "content":  {
                                                                                                                 "*/*":  {
                                                                                                                             "schema":  {
                                                                                                                                            "$ref":  "#/components/schemas/user_ResultVoid"
                                                                                                                                        }
                                                                                                                         }
                                                                                                             }
                                                                                             }
                                                                                 },
                                                                   "security":  [
                                                                                    {
                                                                                        "BearerAuth":  [

                                                                                                       ]
                                                                                    }
                                                                                ]
                                                               }
                                                   },
                  "/api/user/invoice-info/{id}":  {
                                                      "get":  {
                                                                  "tags":  [
                                                                               "[user] 开票资料"
                                                                           ],
                                                                  "summary":  "开票资料详情",
                                                                  "description":  "仅归属人可查；trade-service Feign 调用时会自动转发登录 token 完成归属校验。",
                                                                  "operationId":  "detail_1",
                                                                  "parameters":  [
                                                                                     {
                                                                                         "name":  "id",
                                                                                         "in":  "path",
                                                                                         "required":  true,
                                                                                         "schema":  {
                                                                                                        "type":  "integer",
                                                                                                        "format":  "int64"
                                                                                                    }
                                                                                     }
                                                                                 ],
                                                                  "responses":  {
                                                                                    "200":  {
                                                                                                "description":  "OK",
                                                                                                "content":  {
                                                                                                                "*/*":  {
                                                                                                                            "schema":  {
                                                                                                                                           "$ref":  "#/components/schemas/user_ResultEnterpriseInvoiceInfo"
                                                                                                                                       }
                                                                                                                        }
                                                                                                            }
                                                                                            }
                                                                                },
                                                                  "security":  [
                                                                                   {
                                                                                       "BearerAuth":  [

                                                                                                      ]
                                                                                   }
                                                                               ]
                                                              },
                                                      "put":  {
                                                                  "tags":  [
                                                                               "[user] 开票资料"
                                                                           ],
                                                                  "summary":  "修改开票资料",
                                                                  "operationId":  "update_2",
                                                                  "parameters":  [
                                                                                     {
                                                                                         "name":  "id",
                                                                                         "in":  "path",
                                                                                         "required":  true,
                                                                                         "schema":  {
                                                                                                        "type":  "integer",
                                                                                                        "format":  "int64"
                                                                                                    }
                                                                                     }
                                                                                 ],
                                                                  "requestBody":  {
                                                                                      "content":  {
                                                                                                      "application/json":  {
                                                                                                                               "schema":  {
                                                                                                                                              "$ref":  "#/components/schemas/user_InvoiceInfoReqDTO"
                                                                                                                                          }
                                                                                                                           }
                                                                                                  },
                                                                                      "required":  true
                                                                                  },
                                                                  "responses":  {
                                                                                    "200":  {
                                                                                                "description":  "OK",
                                                                                                "content":  {
                                                                                                                "*/*":  {
                                                                                                                            "schema":  {
                                                                                                                                           "$ref":  "#/components/schemas/user_ResultVoid"
                                                                                                                                       }
                                                                                                                        }
                                                                                                            }
                                                                                            }
                                                                                },
                                                                  "security":  [
                                                                                   {
                                                                                       "BearerAuth":  [

                                                                                                      ]
                                                                                   }
                                                                               ]
                                                              },
                                                      "delete":  {
                                                                     "tags":  [
                                                                                  "[user] 开票资料"
                                                                              ],
                                                                     "summary":  "删除开票资料（软删除）",
                                                                     "operationId":  "delete_2",
                                                                     "parameters":  [
                                                                                        {
                                                                                            "name":  "id",
                                                                                            "in":  "path",
                                                                                            "required":  true,
                                                                                            "schema":  {
                                                                                                           "type":  "integer",
                                                                                                           "format":  "int64"
                                                                                                       }
                                                                                        }
                                                                                    ],
                                                                     "responses":  {
                                                                                       "200":  {
                                                                                                   "description":  "OK",
                                                                                                   "content":  {
                                                                                                                   "*/*":  {
                                                                                                                               "schema":  {
                                                                                                                                              "$ref":  "#/components/schemas/user_ResultVoid"
                                                                                                                                          }
                                                                                                                           }
                                                                                                               }
                                                                                               }
                                                                                   },
                                                                     "security":  [
                                                                                      {
                                                                                          "BearerAuth":  [

                                                                                                         ]
                                                                                      }
                                                                                  ]
                                                                 }
                                                  },
                  "/api/user/invoice-info/{id}/default":  {
                                                              "put":  {
                                                                          "tags":  [
                                                                                       "[user] 开票资料"
                                                                                   ],
                                                                          "summary":  "设为默认开票资料",
                                                                          "operationId":  "setDefault_1",
                                                                          "parameters":  [
                                                                                             {
                                                                                                 "name":  "id",
                                                                                                 "in":  "path",
                                                                                                 "required":  true,
                                                                                                 "schema":  {
                                                                                                                "type":  "integer",
                                                                                                                "format":  "int64"
                                                                                                            }
                                                                                             }
                                                                                         ],
                                                                          "responses":  {
                                                                                            "200":  {
                                                                                                        "description":  "OK",
                                                                                                        "content":  {
                                                                                                                        "*/*":  {
                                                                                                                                    "schema":  {
                                                                                                                                                   "$ref":  "#/components/schemas/user_ResultVoid"
                                                                                                                                               }
                                                                                                                                }
                                                                                                                    }
                                                                                                    }
                                                                                        },
                                                                          "security":  [
                                                                                           {
                                                                                               "BearerAuth":  [

                                                                                                              ]
                                                                                           }
                                                                                       ]
                                                                      }
                                                          },
                  "/api/user/enterprise/{enterpriseId}":  {
                                                              "get":  {
                                                                          "tags":  [
                                                                                       "[user] 企业"
                                                                                   ],
                                                                          "summary":  "根据ID查询企业信息（公开）",
                                                                          "description":  "根据企业 ID 查询企业公开信息",
                                                                          "operationId":  "getEnterpriseById",
                                                                          "parameters":  [
                                                                                             {
                                                                                                 "name":  "enterpriseId",
                                                                                                 "in":  "path",
                                                                                                 "description":  "企业 ID",
                                                                                                 "required":  true,
                                                                                                 "schema":  {
                                                                                                                "type":  "integer",
                                                                                                                "format":  "int64"
                                                                                                            }
                                                                                             }
                                                                                         ],
                                                                          "responses":  {
                                                                                            "200":  {
                                                                                                        "description":  "OK",
                                                                                                        "content":  {
                                                                                                                        "*/*":  {
                                                                                                                                    "schema":  {
                                                                                                                                                   "$ref":  "#/components/schemas/user_ResultEnterpriseVO"
                                                                                                                                               }
                                                                                                                                }
                                                                                                                    }
                                                                                                    }
                                                                                        }
                                                                      },
                                                              "put":  {
                                                                          "tags":  [
                                                                                       "[user] 企业"
                                                                                   ],
                                                                          "summary":  "更新企业信息",
                                                                          "description":  "更新企业基本信息",
                                                                          "operationId":  "updateEnterprise",
                                                                          "parameters":  [
                                                                                             {
                                                                                                 "name":  "enterpriseId",
                                                                                                 "in":  "path",
                                                                                                 "description":  "企业 ID",
                                                                                                 "required":  true,
                                                                                                 "schema":  {
                                                                                                                "type":  "integer",
                                                                                                                "format":  "int64"
                                                                                                            }
                                                                                             }
                                                                                         ],
                                                                          "requestBody":  {
                                                                                              "description":  "企业更新内容",
                                                                                              "content":  {
                                                                                                              "application/json":  {
                                                                                                                                       "schema":  {
                                                                                                                                                      "$ref":  "#/components/schemas/user_EnterpriseRegisterReqDTO"
                                                                                                                                                  }
                                                                                                                                   }
                                                                                                          },
                                                                                              "required":  true
                                                                                          },
                                                                          "responses":  {
                                                                                            "200":  {
                                                                                                        "description":  "OK",
                                                                                                        "content":  {
                                                                                                                        "*/*":  {
                                                                                                                                    "schema":  {
                                                                                                                                                   "$ref":  "#/components/schemas/user_ResultVoid"
                                                                                                                                               }
                                                                                                                                }
                                                                                                                    }
                                                                                                    }
                                                                                        },
                                                                          "security":  [
                                                                                           {
                                                                                               "BearerAuth":  [

                                                                                                              ]
                                                                                           }
                                                                                       ]
                                                                      }
                                                          },
                  "/api/user/enterprise/{enterpriseId}/upgrade-provider":  {
                                                                               "put":  {
                                                                                           "tags":  [
                                                                                                        "[user] 企业"
                                                                                                    ],
                                                                                           "summary":  "需求方升级为服务提供方（提交服务资质）",
                                                                                           "description":  "需求方申请升级为服务提供方（提交服务资质证书）",
                                                                                           "operationId":  "upgradeToProvider",
                                                                                           "parameters":  [
                                                                                                              {
                                                                                                                  "name":  "enterpriseId",
                                                                                                                  "in":  "path",
                                                                                                                  "description":  "企业 ID",
                                                                                                                  "required":  true,
                                                                                                                  "schema":  {
                                                                                                                                 "type":  "integer",
                                                                                                                                 "format":  "int64"
                                                                                                                             }
                                                                                                              },
                                                                                                              {
                                                                                                                  "name":  "certFileUrl",
                                                                                                                  "in":  "query",
                                                                                                                  "description":  "资质证书文件 URL（先上传后传 URL）",
                                                                                                                  "required":  true,
                                                                                                                  "schema":  {
                                                                                                                                 "type":  "string"
                                                                                                                             }
                                                                                                              },
                                                                                                              {
                                                                                                                  "name":  "certNo",
                                                                                                                  "in":  "query",
                                                                                                                  "description":  "证书编号",
                                                                                                                  "required":  true,
                                                                                                                  "schema":  {
                                                                                                                                 "type":  "string"
                                                                                                                             }
                                                                                                              },
                                                                                                              {
                                                                                                                  "name":  "certExpiry",
                                                                                                                  "in":  "query",
                                                                                                                  "description":  "证书到期日期（yyyy-MM-dd）",
                                                                                                                  "required":  true,
                                                                                                                  "schema":  {
                                                                                                                                 "type":  "string",
                                                                                                                                 "format":  "date"
[...]
